---
import type { CollectionEntry } from 'astro:content';
import { getEntries } from 'astro:content';

type Props = {
	entry: CollectionEntry<'blog'> | CollectionEntry<'labs'> | CollectionEntry<'projects'>;
};

const { entry } = Astro.props;

let tags: CollectionEntry<'tags'>[];

if (entry.data.tags) {
	tags = await getEntries(entry.data.tags);
} else {
	tags = [] as CollectionEntry<'tags'>[];
}
---

<a
	href={`/${entry.collection}/${entry.slug}`}
	class='w-full not-prose border rounded-md group blend bg-background/80 hover:bg-foreground/10 space-y-2 flex p-4'
>
	<div class='flex w-full justify-between'>
		<div class='flex space-y-2 flex-col items-start'>
			{
				tags.length !== 0 && (
					<div class='flex flex-wrap'>
						{tags.map((tag) => {
							return (
								<div class='py-0.5 px-1 mr-1 rounded-sm uppercase text-xs bg-foreground/10'>
									{tag.data.name}
								</div>
							);
						})}
					</div>
				)
			}
			<h2 class='font-bold text-xl text-foreground'>{entry.data.title}</h2>
			<p class='text-foreground/75 text-sm'>{entry.data.description}</p>
		</div>
		<svg class='size-5 ml-1 flex-none text-foreground/50 group-hover:text-muted-foreground'>
			<use href='/ui.svg#open'></use>
		</svg>
	</div>
</a>
